{% extends "layout.html" %}

{% block title %}Help{% endblock %}

{% block main %}
<!-- Main Content -->
<div class="main-content-help">

    <!-- Help Section Header -->
    <h1 class="start-header">Welcome to Evenly!</h1>

    <!-- How to use evenly Section -->
    <div class="help-section">
        <h2>How to use Evenly</h2>
        <p>
            Evenly is a simple way to split payments within groups. Here’s how you use it:
        </p>
        <p>
            1. One user creates a group, and the rest join using the group code visible on the group page. The creator of the group is automatically a member.
        </p>
        <p>
            2. During the course of the group’s adventure, everyone adds what they’ve paid and specifies who they split it with.
        </p>
        <p>
            3. Once everyone has paid, the debt will be evenly split. When all debts are settled, the group is deactivated.
        </p>
        <p>
            4. You can view the group's history from your profile page.
        </p>
    </div>

    <!-- Account Info Section -->
    <div class="help-section">
        <h2>Account Info</h2>
        <p>
            Your password is stored securely using best practices. You can log out or delete your account from your profile page.
        </p>
    </div>

    <!-- Contact Info Section -->
    <div class="help-section">
        <h2>Contact</h2>
        <p>
            If a problem persists, please contact us at: <a href="mailto:evenly@contact.io">evenly@contact.io</a>
        </p>
    </div>

</div>
{% endblock %}
